<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-4">
            <h1>Recuperar contraseña</h1>
            <form>
                <div class="mb-3">
                    <label class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese su nueva contraseña</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <button type="button" class="btn btn-primary" id="btnRestore">Cambiar contraseña</button>
            </form>
        </div>
    </div>
</div>

<script src="js/restore.js"></script>